.btn{
    border-radius: 15%;
    font-size: large;
    margin: 1%;
    color: white;
}

.up{
    background-color: coral;
}

.down{
    background-color: rgb(48, 128, 48);
}

.container{
    background-color:beige;
    position: relative;
}

.floor{
    height: 20%;
    position: relative;
}

.floor-text{
    font-size: large;
    font-weight: 700;
    position: absolute;
    left: 90%;
}

.header{
    font-size: x-large;
    font-weight: 800;
    margin: 2% 5%;
    text-align: center;
}

.hr{
    margin: 0;
}

.input-box{
    font-size: x-large;
    font-weight: 400;
    position: relative;
    left: 80%;
    margin: 2%;
}

.lift{
    background-color: olivedrab;
    height: 80%;
    width: 5%;
    position: absolute;
    left: 15%;
    bottom: 1%;
}