body{
    max-width: 100%;
    height: min-content;
    margin: 0;
    padding: 0;
    border: 0;
    /* overflow: hidden; */
}

.btn{
    border-radius: 12%;
    font-size: large;
    margin: 1%;
    color: white;
    width: 4.5%;
}

.up{
    background-color: coral;
}

.down{
    background-color: rgb(48, 128, 48);
}

.container{
    background-color:beige;
    position: relative;
}

.floor{
    height: 20%;
    position: relative;
}

.floor-text{
    font-size: large;
    font-weight: 700;
    position: absolute;
    left: 90%;
}

.footer{
    text-align: center;
    font-size: large;
    /* position: relative; */
    /* bottom: 0; */
    margin: 2% 0;
}

.header{
    font-size: x-large;
    font-weight: 800;
    text-align: center;
    margin: 1% 0;
    /* padding: auto; */
}

.header h1{
    margin: auto;
}

.hr{
    margin: 0;
}

.input-box{
    font-size: x-large;
    font-weight: 400;
    margin: 1% 0; 
}

.form {
    width: fit-content;
    margin: 0 auto;
}

.lift{
    background-color: white;
    background-repeat: no-repeat;
    background-size: 70% 60%;
    background-position: center;
    background-image: url('/img/man.png');
    height: 100%;
    width: 5%;
    overflow: hidden;
    position: absolute; 
    left: 15%;
    bottom: 1%;
    display: block;
}

.door{
    background-color: gray;
    width: 50%; /* Each panel takes up half the container */
    height: 100%; 
    position: relative; 
    z-index: 2;
}

.door-left{
    float: left;
}

.door-right{
    float: right;   
}

.credits{
    font-size: 8px;
}

@media (max-width: 1120px) and (min-width: 768px){
    .header{
        font-size: larger;
        font-weight: 700;
        margin: 2% 0;
    }

    .input-box{
        font-size: larger;
        font-weight: 300;
        margin-bottom: 2%;
    }

    .btn{
        font-size: medium;
    }

    .floor{
        height: 25%;
    }

    .floor-text{
        font-size: medium;
        font-weight: 700;
    }
    
    .footer{
        font-size: medium;
    }
}


@media (max-width: 768px){
    .header{
        font-size: large;
        font-weight: 600;
        margin: 2% 0;
    }

    .input-box{
        font-size: large;
        font-weight: 300;
        margin-bottom: 2%;
    }

    .btn{
        font-size: small;
        width: fit-content;
    }

    .floor{
        height: 40%;
    }

    .floor-text{
        font-size: small;
        font-weight: 700;
    }
    
    .footer{
        font-size: small;
        margin: 1%;
    }
}
